<div class="row">
  <div class="col-12 col-md-6">
    <tc-card [title]="'Style'">
      <div class="elements-list">
        <tc-badge>Primary</tc-badge>
        <tc-badge [view]="views.accent">Accent</tc-badge>
        <tc-badge [view]="views.success">Success</tc-badge>
        <tc-badge [view]="views.info">Info</tc-badge>
        <tc-badge [view]="views.warning">Warning</tc-badge>
        <tc-badge [view]="views.error">Error</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6 col-12">
    <tc-card [title]="'Outline'">
      <div class="elements-list">
        <tc-badge [outline]="true">Primary</tc-badge>
        <tc-badge [outline]="true" [view]="views.accent">Accent</tc-badge>
        <tc-badge [outline]="true" [view]="views.success">Success</tc-badge>
        <tc-badge [outline]="true" [view]="views.info">Info</tc-badge>
        <tc-badge [outline]="true" [view]="views.warning">Warning</tc-badge>
        <tc-badge [outline]="true" [view]="views.error">Error</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Size'">
      <div class="elements-list">
        <tc-badge [size]="badgeSizes.xs">Ultra small</tc-badge>
        <tc-badge [size]="badgeSizes.sm" [view]="views.accent">Small</tc-badge>
        <tc-badge [view]="views.success">Default</tc-badge>
        <tc-badge [size]="badgeSizes.lg" [view]="views.warning">Large</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Shape'">
      <div class="elements-list">
        <tc-badge>Default</tc-badge>
        <tc-badge [tcShape]="0">Square</tc-badge>
        <tc-badge [tcShape]="6">Rounded</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-12">
    <tc-card [title]="'Text & icons'">
      <div class="elements-list">
        <tc-badge><div class="icofont-bug me-2"></div>Bugs</tc-badge>
        <tc-badge [view]="views.accent"><div class="icofont-cart me-2"></div>Cart</tc-badge>
        <tc-badge [view]="views.success"><div class="icofont-clip me-2"></div>Files</tc-badge>
        <tc-badge [view]="views.info">Label<div class="icofont-label ms-2"></div></tc-badge>
        <tc-badge [view]="views.warning">Notification<div class="icofont-notification ms-2"></div></tc-badge>
        <tc-badge [view]="views.error">Sale<div class="icofont-sale-discount ms-2"></div></tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-12">
    <tc-card [title]="'With arrows'" class="mb-0">
      <div class="elements-list">
        <tc-badge [arrow]="'top'">128</tc-badge>
        <tc-badge [view]="views.success" [arrow]="arrowPosition.right">5</tc-badge>
        <tc-badge [view]="views.info" [arrow]="arrowPosition.bottom">154</tc-badge>
        <tc-badge [view]="views.warning" [arrow]="arrowPosition.left">29</tc-badge>
        <tc-badge [view]="views.error" [arrow]="arrowPosition.top">87</tc-badge>
        <tc-badge [tcBgColor]="'#9B479F'" [tcBorderColor]="'#9B479F'" [arrow]="arrowPosition.right">55</tc-badge>
        <tc-badge [view]="views.success" [arrow]="arrowPosition.bottom">588</tc-badge>
        <tc-badge [view]="views.info" [arrow]="arrowPosition.top">154</tc-badge>
        <tc-badge [tcShape]="0" [outline]="true" [arrow]="arrowPosition.top">128</tc-badge>
        <tc-badge [view]="views.success" [tcShape]="0" [arrow]="arrowPosition.right" [outline]="true">5</tc-badge>
        <tc-badge [view]="views.info" [tcShape]="0" [arrow]="arrowPosition.bottom" [outline]="true">154</tc-badge>
        <tc-badge [view]="views.warning" [tcShape]="0" [arrow]="arrowPosition.left" [outline]="true">29</tc-badge>
      </div>
    </tc-card>
  </div>
</div>
