<div class="row">
  <div class="col-12 col-md-6">
    <tc-card [title]="'Image'">
      <div class="elements-list">
        <tc-avatar [src]="'assets/content/user-40-4.jpg'" [initials]="'JD'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-2.jpg'" [initials]="'JD'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-3.jpg'" [initials]="'JD'"></tc-avatar>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Initials & icons'">
      <div class="elements-list">
        <tc-avatar [initials]="'AI'" [tcBgColor]="'#c4e3fc'" [tcColor]="'#64B5F6'"></tc-avatar>
        <tc-avatar [initials]="'GF'" [tcBgColor]="'#f8d3d7'" [tcColor]="'#ed5564'"></tc-avatar>
        <tc-avatar [initials]="'JP'" [tcBgColor]="'#f3fcd4'" [tcColor]="'#b7ce63'"></tc-avatar>
        <tc-avatar [icon]="'icofont-ui-user'" [tcBgColor]="'#bed6fa'" [tcColor]="'#146ef5'"></tc-avatar>
        <tc-avatar [icon]="'icofont-graduate-alt'" [tcBgColor]="'#f8beee'" [tcColor]="'#780828'"></tc-avatar>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Size'">
      <div class="elements-list">
        <tc-avatar [size]="'80px'" [src]="'assets/content/user-400-5.jpg'"></tc-avatar>
        <tc-avatar [size]="'60px'" [initials]="'RM'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-5.jpg'"></tc-avatar>
        <tc-avatar [size]="'20px'" [initials]="'W'"></tc-avatar>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Shape'">
      <div class="elements-list">
        <tc-avatar [src]="'assets/content/user-40-3.jpg'" [initials]="'RD'" [tcShape]="20"></tc-avatar>
        <tc-avatar [initials]="'DT'" [tcShape]="15"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-4.jpg'" [initials]="'JL'" [tcShape]="10"></tc-avatar>
        <tc-avatar [initials]="'NA'" [tcShape]="5"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-5.jpg'" [initials]="'QL'" [tcShape]="0"></tc-avatar>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Loading'" class="mb-md-0">
      <div class="elements-list">
        <tc-avatar [src]="'assets/content/user-40-1.jpg'" [load]="true" [tcBgColor]="'#64B5F6'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-2.jpg'" [load]="true" [tcShape]="10" [tcBgColor]="'#ed5564'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-3.jpg'" [load]="true" [tcShape]="5" [tcBgColor]="'#b7ce63'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-4.jpg'" [load]="true" [tcShape]="0"></tc-avatar>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'With badges'" class="mb-0">
      <div class="elements-list">
        <tc-avatar [src]="'assets/content/user-40-6.jpg'" [badge]="true"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-5.jpg'" [badge]="true" [badgeBg]="'#e24d4d'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-3.jpg'" [badge]="true" [badgeBg]="'#81C784'"></tc-avatar>
        <tc-avatar [src]="'assets/content/user-40-4.jpg'" [badge]="true" [badgeBg]="'#FFB74D'"></tc-avatar>
        <tc-avatar [icon]="'icofont-funky-man'" [tcBgColor]="'#eebef8'" [tcColor]="'#5c0f6d'" [badge]="true" [badgeBg]="'#6dbeee'"></tc-avatar>
      </div>
    </tc-card>
  </div>
</div>
