<tc-card [title]="'Type'">
  <div class="elements-list">
    <tc-file [title]="'file-name'"></tc-file>
    <tc-file [type]="'doc'" [title]="'file-name'" [view]="views.accent"></tc-file>
    <tc-file [type]="'xlx'" [title]="'file-name'" [view]="views.success"></tc-file>
    <tc-file [type]="'pdf'" [title]="'file-name'" [view]="views.info"></tc-file>
    <tc-file [type]="'zip'" [title]="'file-name'" [view]="views.warning"></tc-file>
    <tc-file [type]="'mp3'" [title]="'file-name'" [view]="views.error"></tc-file>
  </div>
</tc-card>

<tc-card [title]="'Size'">
  <div class="elements-list">
    <tc-file [type]="'doc'" [title]="'small-file'" [size]="size.sm"></tc-file>
    <tc-file [type]="'xlx'" [title]="'medium-file'"></tc-file>
    <tc-file [type]="'pdf'" [title]="'large-file'" [size]="size.lg"></tc-file>
  </div>
</tc-card>

<tc-card [title]="'Custom icon'">
  <div class="elements-list">
    <tc-file [title]="'file-name'"></tc-file>
    <tc-file [type]="'doc'" [title]="'file-name'" [view]="views.accent" [icon]="'icofont-file-document'"></tc-file>
    <tc-file [type]="'xlx'" [title]="'file-name'" [view]="views.success" [icon]="'icofont-file-excel'"></tc-file>
    <tc-file [type]="'pdf'" [title]="'file-name'" [view]="views.info" [icon]="'icofont-file-pdf'"></tc-file>
    <tc-file [type]="'zip'" [title]="'file-name'" [view]="views.warning" [icon]="'icofont-file-zip'"></tc-file>
    <tc-file [type]="'mp3'" [title]="'file-name'" [view]="views.error" [icon]="'icofont-file-mp3'"></tc-file>
    <tc-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-1.jpg'"></tc-file>
  </div>
</tc-card>

<tc-card [title]="'With delete button'">
  <div class="elements-list">
    <tc-file
      [type]="'doc'"
      [title]="'file-name'"
      [view]="views.accent"
      [icon]="'icofont-file-document'"
      [delete]="true"
    ></tc-file>
    <tc-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-1.jpg'" [delete]="true"></tc-file>
  </div>
</tc-card>

<tc-card [title]="'Loading'" class="mb-0">
  <div class="elements-list">
    <tc-file [title]="'file-name'" [load]="true"></tc-file>
    <tc-file [type]="'doc'" [title]="'file-name'" [view]="views.accent" [load]="true"></tc-file>
    <tc-file [type]="'xlx'" [title]="'file-name'" [view]="views.success" [load]="true"></tc-file>
    <tc-file [type]="'pdf'" [title]="'file-name'" [view]="views.info" [load]="true"></tc-file>
    <tc-file [type]="'zip'" [title]="'file-name'" [view]="views.warning" [load]="true"></tc-file>
    <tc-file [type]="'mp3'" [title]="'file-name'" [view]="views.error" [load]="true"></tc-file>
  </div>
</tc-card>
