@import 'src/assets/scss/variables';

:host {
  display: block;
  height: $module-rem * 6;
  min-height: $module-rem * 6;
  position: relative;

  .logo-wrap {
    align-items: flex-end;
    color: inherit;
    display: flex;
    height: 100%;
    padding: $module-rem ($module-rem * 4);
    text-decoration: none;

    .logo-img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: top;
      width: auto;
    }
    .logo-text {
      color: #1FA0E3;
      display: block;
      font-size: 26px;
      font-weight: 700;
      line-height: 1;
      margin: 0 0 1px 5px;
    }
  }
}
